<tr>
    <td data-label = 'Nome Fantasia'>{{nome_fantasia}}</td>
    <td data-label = 'Nome Empresa'>{{nome_empresa}}</td>
    <td data-label = 'CNPJ'>{{cnpj}}</td>
    <td data-label = 'E-Mail'>{{email}}</td>
    <td data-label = 'Nome Contato'>{{nome_cont}}</td>
    <td data-label = 'Telefone'>{{telefone}}</td>
    <td data-label = 'Endereço'>{{endereco}}</td>
    <td data-label = 'Número'>{{numero}}</td>
    <td data-label = 'CEP'>{{cep}}</td>
    <td data-label = 'Cidade'>{{cidade}}</td>
    <td data-label = 'Estado'>{{estado}}</td>
    <td><a href='{{URL}}/convenio/{{id_convenio}}/atualizar'>Atualizar</a></td>
    <td><a href='{{URL}}/convenio/{{id_convenio}}/deletar'>Deletar</a></td>
</tr>