<h3 style="margin-bottom: 20px;">Atualizar especialidade</h3>
<form method="POST" class="formPaciente">

    <label for="nome"><h3>Nome da Especialidade</h3></label>
    <br>
    <input type="text" name="nome_especialidade" value="{{nome_especialidade}}"> 
    <br>
    <div style="text-align: center;">
        <button type="submit" class="btnCadastro">Atualizar</button>
        <a href="{{URL}}/especialidade" style="text-align: center;"">
            <button type="button" class="btnCadastro">Voltar</button>
        </a>
    </div>
</form>