<h3 style="margin-bottom: 20px;">Atualizar médico</h3>
            <div class="formPaciente">
                <form method="post">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome_medico" id="nome" value="{{nome_medico}}">
                    <label for="rua">Rua:</label>
                    <input type="text" name="rua_medico" id="rua" value="{{rua_medico}}">
                    <label for="numero">Número:</label>
                    <input type="text" name="numero_medico" id="numero" value="{{numero_medico}}">
                    <label for="complemento">Complemento</label>
                    <input type="text" name="complemento_medico" id="complemento" value="{{complemento_medico}}">
                    <label for="bairro">Bairro:</label>
                    <input type="text" name="bairro_medico" id="bairro" value="{{bairro_medico}}">
                    <label for="cep">Cep:</label>
                    <input type="text" name="cep_medico" id="cep" value="{{cep_medico}}">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email_medico" id="email" value="{{email_medico}}">
                    <label for="telefoneFixo">Telefone:</label>
                    <input type="text" name="telefone_fixo_medico" id="telefoneFixo" value="{{telefone_fixo_medico}}">
                    <div style="text-align: center;">
                        <button type="submit" class="btnCadastro">Atualizar</button>
                        <a href="{{URL}}/medico" style="text-align: center;"">
                            <button type="button" class="btnCadastro">Voltar</button>
                        </a>
                    </div>
                </form>
            </div>