<tr>
    <td data-label='Nome:'>{{nome_medico}}</td>
    <td data-label='Rua:'>{{rua_medico}}</td>
    <td data-label='Número:'>{{numero_medico}}</td>
    <td data-label='Complemento:'>{{complemento_medico}}</td>
    <td data-label='Bairro:'>{{bairro_medico}}</td>
    <td data-label='Cep:'>{{cep_medico}}</td>
    <td data-label='E-mail:'>{{email_medico}}</td>
    <td data-label='Telefone:'>{{telefone_fixo_medico}}</td>
    <td><a href='{{URL}}/medico/{{id_medico}}/atualizar'>Atualizar</a></td>
    <td><a href='{{URL}}/medico/{{id_medico}}/deletar'>Deletar</a></td>
</tr>