<h1>Convênios</h1>

<h2>{{title}} convênio</h2>
<form method="post" class="formPaciente" id="forumlarioConvenio">
    <label for="nome_fantasia">Nome Fantasia:</label>
    <input type="text" name="nome_fantasia" id="nome_fantasia"><span id="erroNomeFantasiaConvenio"></span><br>

    <label for="nome_empresa">Nome da Empresa:</label>
    <input type="text" name="nome_empresa" id="nome_empresa"><span id="erroNomeEmpresaConvenio"></span><br>

    <label for="cep">CEP:</label>
    <input type="number" name="cep" id="cep" value="">

    <label for="cnpj">CNPJ:</label>
    <input type="text" name="cnpj" id="cnpj"><span id="erroCnpjConvenio"></span><br>

    <label for="email">E-Mail:</label>
    <input type="email" name="email" id="email"><span id="erroEmailConvenio"></span><br>

    <label for="contato">Nome do Contato:</label>
    <input type="text" name="nome_cont" id="nome_cont"><span id="erroNomeContatoConvenio"></span><br>

    <label for="telefone">Telefone:</label>
    <input type="tel" name="telefone" id="telefone"><span id="erroTelefoneConvenio"></span><br>

    <label for="endereco">Endereço:</label>
    <input type="text" name="endereco" id="endereco"><span id="erroEnderecoConvenio"></span><br>

    <label for="numero">Número:</label>
    <input type="number" name="numero" id="numero"><span id="erroNumeroConvenio"></span><br>

    <label for="cidade">Cidade:</label>
    <input type="text" name="cidade" id="cidade"><span id="erroCidadeConvenio"></span><br>

    <label for="estado">Estado:</label>
    <input type="text" name="estado" id="uf"><span id="erroEstadoConvenio"></span><br>

    <hr>

    <input class="btnCadastro" type="submit" value="Cadastrar">
</form>   

<div style="margin-bottom: 15px;">
    <h3>Convênios cadastrados</h3>
</div>

<div class="tableContainer">
    <table class="table">
        <thead>
            <tr>
            <th>Nome Fantasia</th>
            <th>Nome da Empresa</th>
            <th>CNPJ</th>
            <th>E-Mail</th>
            <th>Nome do Contato</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {{itens}}
    </tbody>
</table>
</div>
<script>
    const nome_fantasia = document.getElementById('nome_fantasia');
    const nome_empresa = document.getElementById('nome_empresa');
    const cnpj = document.getElementById('cnpj');
    const email = document.getElementById('email');
    const nome_cont = document.getElementById('nome_cont');
    const telefone = document.getElementById('telefone');
    const endereco = document.getElementById('endereco');
    const numero = document.getElementById('numero');
    const cidade = document.getElementById('cidade');
    const uf = document.getElementById('uf');
    const form = document.getElementById('forumlarioConvenio');

    form.addEventListener('submit', (e)=> {

        cont = 0;

        if(nome_fantasia.value === '' ||  nome_fantasia == null){
            cont++;
            document.getElementById('erroNomeFantasiaConvenio').innerText = 'Nome fantasia inválido';
        }

        if(nome_empresa.value === '' ||  nome_empresa == null){
            cont++;
            document.getElementById('erroNomeEmpresaConvenio').innerText = 'Nome empresa inválido';
        }

        if(cnpj.value === '' ||  cnpj == null){
            cont++;
            document.getElementById('erroCnpjConvenio').innerText = 'CNPJ inválido';
        }

        if(email.value === '' ||  email == null){
            cont++;
            document.getElementById('erroEmailConvenio').innerText = 'Email inválido';
        }

        if(nome_cont.value === '' ||  nome_cont == null){
            cont++;
            document.getElementById('erroNomeContatoConvenio').innerText = 'Nome contato inválido';
        }

        if(telefone.value === '' ||  telefone == null){
            cont++;
            document.getElementById('erroTelefoneConvenio').innerText = 'Telefone inválido';
        }

        if(endereco.value === '' ||  endereco == null){
            cont++;
            document.getElementById('erroEnderecoConvenio').innerText = 'Endereco inválido';
        }

        if(numero.value === '' ||  numero == null){
            cont++;
            document.getElementById('erroNumeroConvenio').innerText = 'Numero inválido';
        }

        if(cidade.value === '' ||  cidade == null){
            cont++;
            document.getElementById('erroCidadeConvenio').innerText = 'Cidade inválido';
        }

        if(uf.value === '' ||  uf == null){
            cont++;
            document.getElementById('erroEstadoConvenio').innerText = 'Estado inválido';
        }

        if(cont > 0){
        e.preventDefault();
    }
    });
</script>