<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?export=view&id=1JTudJwEhtIXupbrx4qs2cnnhqPBrCqfA">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <title>{{title}}</title>
</head>
<body>
    {{header}}

    <main>
        <div class="container">
            {{content}}
        </div>
    </main>
</body>
</html>