<h3 style="margin-bottom: 20px;">Deletar paciente</h3>
            <div class="formPaciente">
                <form method="POST">
                    <label for="nome">Tem certeza que deseja excluir o registro de <b>{{nome_paciente}}</b>?</label><br><br>
                        <button type="submit" class="btnCadastro">Excluir</button>
                        <a href="{{URL}}/" style="text-align: center;"">
                            <button type="button" class="btnCadastro">Voltar</button>
                        </a>
                    </div>
                </form>
            </div>