<tr>
    <td data-label='Nome:'>{{nome_paciente}}</td>
    <td data-label='Rua:'>{{rua}}</td>
    <td data-label='Número:'>{{numero}}</td>
    <td data-label='Complemento:'>{{complemento}}</td>
    <td data-label='Bairro:'>{{bairro}}</td>
    <td data-label='Cep:'>{{cep}}</td>
    <td data-label='E-mail:'>{{email}}</td>
    <td data-label='Telefone:'>{{telefone}}</td>
    <td><a href='{{URL}}/home/{{id_paciente}}/atualizar'>Atualizar</a></td>
    <td><a href='{{URL}}/home/{{id_paciente}}/deletar'>Deletar</a></td>
</tr>